#pagebackground {
    background-color:antiquewhite;
}
h1{
    text-align: center;
    font-size: 55px;
    color:navy;
}
#address {
    float: inline-end;
    width: 35%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.data{
    font-family: 'Times New Roman', Times, serif;
}
table, th, td {
    border: 1px solid brown;
    border-collapse: collapse;
    padding: 12px;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}
input[type=text], select, textarea {
    width: 50%; 
    padding: 12px; 
    border: 1px solid #cccccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 1px solid blueviolet;
    border-radius: 4px;
    cursor: pointer;
}
    input[type=submit]:hover {
        background-color: #134215;
    }
    .container {
        border-radius: 5px;
        background-color:#f1f1eb;
        padding: 10px;
      }